<!DOCTYPE html>
<html ng-app = "ghViewerApp">
<head lang = "en">
  <meta charset = "UTF-8">
  <title>Getting Started: Controller Basics</title>
  <meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!--<link rel = "stylesheet" href = "css/bootstrap.min.css"/>-->
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href = "http://fonts.googleapis.com/css?family=Ubuntu+Condensed|Open+Sans:400,300|Raleway|Cinzel" rel = "stylesheet" type = "text/css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Droid+Sans|Ubuntu|Raleway|Montserrat' rel='stylesheet' type='text/css'>
  <link rel = "stylesheet" href = "basicStyles.css"/>


</head>
<body>

<!--Accessing what's inside "ControllerBasics" controller-->

<div class = "container" ng-controller = "ControllerBasics">

  <div class = "row">
    <h1>{{title}}</h1>

    <h2 style = "color:red;">{{error}}</h2>

    <!--<form name="searchUser">
      <input type = "search" placeholder="Username to find" ng-model="username"/>
      <input type = "submit" value="Birok" ng-click="search(username)"/>
    </form>-->
    <form name = "searchUser" ng-submit = "search(username)">
      <input type = "search" required placeholder = "Username to find" ng-model = "username"/>
      <input type = "submit" value = "Go Fetch!"/>
    </form>
    <hr/>
    <div ng-show="user"> <!--hides everything inside this div while "user" has no data-->
      <!--Left Column-->
      <div class = "frameBox col-sm-6">
        <div class="markerIndicator">LEFT COLUMN</div>
        <h1>{{user.login}}</h1>
        <p>GitHub Address: {{user.html_url}}</p>

        <!--Inside Left Column-->
        <div class = "frameBox col-sm-6">
          <div class="markerIndicator">INSIDE LEFT COLUMN</div>
          <img ng-src = "{{user.avatar_url}}" title = "{{user.name}}"/>
        </div>

        <!--Inside Right Column-->
        <div class="markerIndicator">INSIDE RIGHT COLUMN</div>
        <div class = "frameBox col-sm-6">
          <img ng-src = "{{user.avatar_url}}" title = "{{user.name}}"/>
        </div>

        <hr/>

        <img ng-src = "{{user.avatar_url}}" title = "{{user.name}}"/>
        <br/>
        <hr/>
        <p>
          {{shortBlurb}}
        </p>
      </div>

      <!--Right Column-->
      <div class = "col-sm-6">
      <div class="markerIndicator">RIGHT COLUMN</div>
      <h1>{{user.name}}</h1>

      <div>
        Location: {{user.location}}
      </div>
      <hr/>
      <img ng-src = "{{user.avatar_url}}" title = "{{user.name}}"/>
      <br/>
    </div>
    </div>

  </div>

  <div ng-hide="!user"> <!--same as ng-show="user"-->
    Order:
    <select class="dropDownBtn" ng-model="repoSortOrder">
      <option value = "+name">Name</option>
      <option value = "-stargazers_count">Stars</option>
      <option value = "+language">Language</option>
    </select>
    <table class="table table-striped table-hover">
      <thead>
        <tr class="success">
          <th>Name</th>
          <th>Star</th>
          <th>Language</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="repo in repos | orderBy:repoSortOrder"> <!--hardcoding filter: inside quote '-stargazers_count' -->
          <td>{{repo.name}}</td>
          <td>{{repo.stargazers_count | number}}</td>
          <td>{{repo.language}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.2/angular.min.js"></script>
<script src = "controllers.js"></script>
</body>
</html>